# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Unity_environment.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Unity\UnityProjects\presentr\Unity_environment\.idea\.idea.Unity_environment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
